@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Raleway:wght@700&display=swap");

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(135deg, #2a3d40, #1d2c2b, ); */
  background: linear-gradient(135deg, #193930, #274f47, #1d2c2b, #121e18);

  background-size: 500% 500%;
  animation: gradient 26s infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* .btn-custom {
  position: relative;
}

.btn-custom::after {
  border: 2px solid white;
  border-radius: 0.5rem;
  background-color: black;
  position: absolute;
  top: -60%;
  right: -7%; 
  opacity: 0;
  transform: translatey(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.btn-custom:hover::after {
  opacity: 1;
  transform: translatey(0);
} */
